# Excluir la carpeta de caché y metadatos locales de Godot (se regenera de forma automática)
.godot/
# Excluir archivos binarios y traducciones generadas
*.translation
# Excluir exportaciones generadas (build Web)
build/
